.title {
  font-weight: bold;
  text-transform: capitalize;
  padding-right: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  @media (max-width: 864px) {
    font-size: 14px;
  }
}

.body {
  text-transform: capitalize;
  padding-right: 10px;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-top: -5px;
  @media (max-width: 864px) {
    font-size: 12px;
    margin-top: -8px;
  }
}

.time {
  margin-top: -5px;
  padding-right: 10px;
  font-size: 14px;
  color: #bababb;

  @media (max-width: 864px) {
    font-size: 12px;
    margin-top: -8px;
  }
}
